.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f2f2f2;
  color: #fff;
  font-size: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  &__nav {
    display: flex;
    align-items: center;

    &-list {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      margin-right: 24px;
    }

    &-item {
      margin-right: 16px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &-link {
      color: #2d3436;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.2s ease-in-out;

      &:hover {
        text-decoration: underline;
        color: #0984e3;
      }
    }
  }

  &__buttons {
    display: flex;

    @media only screen and (max-width: 768px) {
      margin-top: 16px;

      flex-wrap: wrap;

      &__button {
        margin: 8px 0;

        &--edit-profile,
        &--create-board,
        &--logout,
        &--delete-user {
          margin-right: 0;
        }
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    margin-right: 16px;

    &--edit-profile,
    &--logout,
    &--create-board,
    &--delete-user {
      background-color: #4d4d4d;
      color: #fff;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: #292929;
      }

      @media only screen and (max-width: 768px) {
        margin-bottom: 8px;
        padding: 6px 12px;
        font-size: 14px;
      }
    }

    &--create-board {
      background-color: #0067a3;
      margin-right: 8px;
    }

    &--delete-user {
      background-color: #dc4c41;
      margin-right: 0;
    }

    &--delete-user:hover {
      background-color: #c7433a;
    }
  }

  &__localization-switcher {
    margin-left: 16px;
    background-color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    color: #4d4d4d;
    font-weight: 500;
    font-size: 16px;

    @media only screen and (max-width: 768px) {
      margin-left: 0;
      margin-top: 16px;
    }
  }
}
