<header>
  <nav>
    <ul>
      <li><a href="#">{{ 'header.home' | translate }}</a></li>
      <li><a href="#">{{ 'header.about' | translate }}</a></li>
    </ul>
  </nav>

  <div>
    <!-- Edit Profile Button -->
    <button *ngIf="isAuthenticated" class="edit-profile-btn" (click)="editProfile()">{{ 'header.editProfile' | translate
      }}</button>

    <!-- Logout Button -->
    <button *ngIf="isAuthenticated" class="logout-btn" (click)="logout()">{{ 'header.logout' | translate }}</button>

    <!-- Create Board Button -->
    <button *ngIf="isAuthenticated" class="create-board-btn" (click)="createBoardBtn()">{{ 'header.createBoard' |
      translate }}</button>

    <!-- Delete User Button -->
    <button *ngIf="isAuthenticated" class="delete-user-btn" (click)="confirmationModal.open()">{{ 'header.deleteUser' |
      translate }}</button>

    <!-- Confirmation Modal -->
    <app-confirmation-modal #confirmationModal [message]="('header.deleteConfirmation' | translate)"
      [confirmAction]="deleteUser"></app-confirmation-modal>

    <!-- Localization Switcher -->
    <select class="localization-switcher" (change)="changeLanguage($event)">
      <option value="en">{{ 'header.english' | translate }}</option>
      <option value="ua">{{ 'header.ukrainian' | translate }}</option>
      <option value="ru">{{ 'header.russian' | translate }}</option>
    </select>
  </div>
</header>