<h1>Boards</h1>

<input type="text" [(ngModel)]="searchTerm" placeholder="Search">
<button (click)="clearSearch()">Clear</button>

<ul class="board-list">
  <li *ngFor="let board of filteredBoards" class="board-item">
    <a routerLink="/boards/{{board.id}}">
      <h2>{{board.title}}</h2>
      <p>{{board.description}}</p>
      <p>Created on {{board.createdAt | date}}</p>
      <p>Created by {{board.createdBy}}</p>
    </a>
    <button (click)="deleteBoard(board.id)">Delete</button>
  </li>
</ul>

<div *ngIf="totalBoards === 0">No boards found.</div>

<div *ngIf="totalBoards > 0">
  <div class="pagination">
    <button [disabled]="pageNumber === 1" (click)="onPageChange(pageNumber - 1)">Prev</button>
    <span>{{pageNumber}}</span>
    <button [disabled]="pageNumber === totalPages" (click)="onPageChange(pageNumber + 1)">Next</button>
  </div>
  <div>Total Boards: {{totalBoards}}</div>
</div>

<app-confirmation-modal #confirmationModal></app-confirmation-modal>