<section class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <article class="card">
        <header class="card-header">
          <h3 class="text-center">{{ 'signUp.title' | translate }}</h3>
        </header>
        <section class="card-body">
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">{{ 'formHandle.nameLabel' | translate }}</label>
              <input type="text" id="name" formControlName="name" class="form-control">
              <div *ngIf="isSubmitted && signupForm.controls['name'].errors" class="invalid-feedback">
                <div *ngIf="signupForm.controls['name'].errors['required']">{{ 'invalidInput.nameRequired' | translate
                  }}</div>
                <div *ngIf="signupForm.controls['name'].errors['name']">{{ 'invalidInput.invalidNameFormat' | translate
                  }}</div>
              </div>
            </div>
            <div class="form-group">
              <label for="login">{{ 'formHandle.loginLabel' | translate }}</label>
              <input type="text" id="login" formControlName="login" class="form-control">
              <div *ngIf="isSubmitted && signupForm.controls['login'].errors" class="invalid-feedback">
                {{ 'invalidInput.loginRequired' | translate }}
              </div>
            </div>
            <div class="form-group">
              <label for="password">{{ 'formHandle.passwordLabel' | translate }}</label>
              <input type="password" id="password" formControlName="password" class="form-control">
              <div *ngIf="isSubmitted && signupForm.controls['password'].errors" class="invalid-feedback">
                <div *ngIf="signupForm.controls['password'].errors['required']">{{ 'invalidInput.passwordRequired' |
                  translate }}</div>
                <div *ngIf="signupForm.controls['password'].errors['minlength']">{{ 'invalidInput.passwordMinLength' |
                  translate:{ requiredLength: signupForm.controls['password'].errors['minlength'].requiredLength } }}
                </div>
                <div *ngIf="signupForm.controls['password'].errors['pattern']">{{ 'invalidInput.passwordPattern' |
                  translate }}</div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">{{ 'signUp.signUpBtn' | translate }}</button>
            </div>
          </form>
        </section>
      </article>
    </div>
  </div>
</section>